/Lab2JavaSwing/nbproject/private/
/Lab2JavaSwing/build/
/Assignment_Lab01/nbproject/private/
/Assignment_Lab02/nbproject/private/
/Assignment_Lab02/build/
/Assignment_Lab_02/nbproject/private/
/Assignment_Lab3/nbproject/private/
/Assignment_Lab3/build/
/Lab4_Navigations/nbproject/private/
/Lab4_Navigations/build/
/Lab4_Assignment/build/
/Lab4_Assignment/nbproject/private/
/Assignment_Lab4/nbproject/private/
/Assignment_Lab4/build/
/Lab5_JavaFX/nbproject/private/
/Lab5_JavaFX/build/
/Lab5_JavaFX/dist/
/mavenproject/target/
/BattleShip/nbproject/private/
/Assignmnet5/nbproject/private/
/Assignmnet5/build/
